.width-button {
  width: 260px;
  background-color: rgba(237, 237, 237, 1);
  flex-direction: row-reverse;
  justify-content: space-between;
}
.width-button:hover {
  background-color: rgb(221, 221, 221);
}

:host ::ng-deep td {
  max-width: 150px; /* Fixed width */
  // overflow: hidden;
  white-space: wrap;
  // text-overflow: ellipsis;
  text-wrap: normal;
  word-wrap: break-word;
  padding: 5px;

  /* Set initial height constraint */
  max-height: 30px;

  /* Enable smooth animation */
  transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out;
}

// /* On hover, increase height to show text */
// :host ::ng-deep td:hover {
//     white-space: normal; /* Allow text wrapping */
//     text-overflow: unset;
//     overflow: visible;

//     /* Increase max-height for animation */
//     max-height: 100px; /* Adjust based on expected text height */

//     /* Optional: Add background effect */
//     padding: 8px; /* Smooth padding expansion */
// }
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.flash-animation {
  animation: flash 1s infinite alternate;
}
